.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/node_modules/**
.github/**
**/.DS_Store
Thumbs.db
**/.git
**/.svn
**/.hg
**/CVS
**/.env
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.npm
**/.eslintcache
**/.stylelintcache
**/lerna-debug.log*
**/.pnpm-debug.log*
**/pnpm-debug.log*
**/.pnpm-store
**/.vscode-test-web/