openapi: 3.1.0
info:
  title: TenantIQ API
  version: 1.0.0
  description: |
    MSP control plane for managing Microsoft 365 tenants at scale.
    CIS benchmark automation, drift detection, license optimization,
    cross-tenant rollups, and compliance posture mapping.
  contact:
    name: TenantIQ Support
    url: https://tenantiq.app/support
    email: support@tenantiq.app
  license:
    name: Proprietary
    url: https://tenantiq.app/terms

servers:
  - url: https://api.tenantiq.app
    description: Production
  - url: http://localhost:8787
    description: Development (Wrangler)

security:
  - cookieAuth: []
  - bearerAuth: []

tags:
  - name: Health
    description: Health checks and infrastructure status
  - name: Auth
    description: Authentication, OAuth, JWT exchange, logout
  - name: WebAuthn
    description: Passkey registration and authentication
  - name: SSO
    description: SAML/OIDC SSO connections and SCIM tokens
  - name: SCIM
    description: SCIM 2.0 user and group provisioning (RFC 7644)
  - name: Account
    description: Account deletion (GDPR Art. 17) and data export
  - name: Tenants
    description: Tenant CRUD, sync, dashboard, settings
  - name: TenantAlerts
    description: Per-tenant alerts and remediation plans
  - name: TenantSecurity
    description: Per-tenant security data, policies, certificates
  - name: SecurityStack
    description: Security stack configuration, monitoring, baselines
  - name: Hardening
    description: Security hardening assessment and execution
  - name: TenantEmail
    description: Email security, sign-in logs, inbox rules
  - name: TenantThreats
    description: Phishing, threats, UEBA, SDLC
  - name: TenantBackups
    description: Per-tenant backup analysis, creation, restore
  - name: TenantLicenses
    description: Per-tenant license data, waste, optimization
  - name: TenantNotifications
    description: Per-tenant notifications and SSE events
  - name: TenantPurview
    description: Per-tenant Purview/DLP data
  - name: TenantSkills
    description: Per-tenant skill activation and templates
  - name: TenantWorkflows
    description: Per-tenant workflow CRUD and execution
  - name: TenantWebhooks
    description: Per-tenant webhook configuration and testing
  - name: TokenForge
    description: Device binding and token validation
  - name: TenantAutoFix
    description: Auto-fix mode configuration
  - name: TenantProfile
    description: Tenant profile data
  - name: Alerts
    description: Global alert listing, detail, status updates
  - name: AlertAnalytics
    description: Alert trends, distribution, recurring patterns
  - name: AI
    description: AI chat, streaming, history, security scan, chain
  - name: AIFeedback
    description: AI recommendation feedback and insights
  - name: AISEO
    description: AI-powered SEO audit and content generation
  - name: AnomalyDetection
    description: Login and activity anomaly scanning
  - name: CISBenchmark
    description: CIS benchmark scanning, controls, history, trend
  - name: CISOverrides
    description: Per-tenant CIS control overrides
  - name: CompliancePosture
    description: Compliance posture assessment and frameworks
  - name: ConfigSnapshots
    description: Configuration snapshots and scheduling
  - name: ConfigDrifts
    description: Configuration drift detection and suppression
  - name: CopilotReadiness
    description: Copilot readiness assessment, history, export
  - name: CopilotSecurity
    description: Copilot security posture and prompt analysis
  - name: CopilotUsage
    description: Copilot usage metrics
  - name: CostOptimization
    description: License cost analysis and AI recommendations
  - name: Remediations
    description: Remediation execution, dry-run, rollback, scheduling
  - name: Workflows
    description: Global workflow listing and template management
  - name: Users
    description: User listing, licenses, bulk operations
  - name: UserDelegation
    description: User delegation management
  - name: Security
    description: Global security dashboard, posture, compliance, risks
  - name: Audit
    description: Global audit logs and reports
  - name: Intelligence
    description: Intelligence scans and user activity
  - name: Governance
    description: Workspace governance, sites, AI usage
  - name: ExecutiveReport
    description: Executive report generation and PDF export
  - name: HealthScore
    description: Tenant health score and AI analysis
  - name: Savings
    description: Savings leaderboard, ROI, achievements
  - name: LicenseAutopilot
    description: License autopilot analysis and preview
  - name: TenantComparison
    description: Multi-tenant comparison
  - name: UsageHeatmap
    description: Usage heatmap visualization
  - name: Onboarding
    description: Onboarding plans, templates, execution
  - name: Approvals
    description: Workflow approval management
  - name: BackupHealth
    description: Global backup health and job management
  - name: StorageAnalytics
    description: OneDrive/SharePoint storage analytics
  - name: Team
    description: Team member management and invitations
  - name: WebhookConfig
    description: Global webhook configuration
  - name: Webhooks
    description: Incoming webhooks (Graph, ConnectWise, OpenClaw, TokenForge)
  - name: GraphSubscriptions
    description: Microsoft Graph subscription management
  - name: Billing
    description: Checkout, subscription, cancellation
  - name: Branding
    description: White-label branding and custom domains
  - name: MSP
    description: MSP dashboard, benchmarks, backups, profit
  - name: FederatedIdentity
    description: Federated identity audit
  - name: AfterHours
    description: After-hours escalation configuration
  - name: CredentialRotation
    description: Credential rotation and breach response
  - name: Defender
    description: Microsoft Defender scan and controls
  - name: Intune
    description: Microsoft Intune device management
  - name: PIM
    description: Privileged Identity Management scan
  - name: ZeroTrust
    description: Zero Trust assessment and roadmap
  - name: PurviewDLP
    description: Purview DLP data
  - name: EventTriggers
    description: Event trigger rules and event log
  - name: ReportBuilder
    description: Custom report builder
  - name: GuestReview
    description: Guest user review workflows
  - name: GroupCleanup
    description: Group cleanup workflows
  - name: PushNotifications
    description: Web push subscription management
  - name: Lifecycle
    description: User lifecycle template management
  - name: Integrations
    description: ConnectWise, Datto, Kaseya, OpenClaw integrations
  - name: Partners
    description: Partner registration and API keys
  - name: GDAP
    description: Granular Delegated Admin Privileges
  - name: Marketplace
    description: Microsoft Commercial Marketplace
  - name: MCP
    description: Model Context Protocol server and keys
  - name: FindingDebate
    description: AI-powered finding debate
  - name: AgentActions
    description: Autonomous agent actions and approvals
  - name: Timewarp
    description: Point-in-time tenant snapshots
  - name: Search
    description: Unified cross-entity search
  - name: Share
    description: Shareable link generation
  - name: ProspectScan
    description: Public no-auth domain security scan
  - name: Stats
    description: Public statistics
  - name: Portal
    description: End-user self-service portal
  - name: Settings
    description: AI provider and app settings
  - name: PlatformAuth
    description: Platform admin authentication
  - name: PlatformOrganizations
    description: Platform organization management
  - name: PlatformUsers
    description: Platform user management
  - name: PlatformSubscriptions
    description: Platform subscription management
  - name: PlatformAdmin
    description: Platform admin operations
  - name: PlatformAnnouncements
    description: Platform announcements
  - name: AuditHistory
    description: Tenant audit history (role and policy changes)
  - name: SharedConversations
    description: Public shared AI conversation access

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: tenantiq_session
      description: HttpOnly session cookie set after OAuth exchange
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT in Authorization header (alternative to cookie)
    scimBearerAuth:
      type: http
      scheme: bearer
      description: SCIM provisioning token

  schemas:
    # ---- Enums ----
    Severity:
      type: string
      enum: [critical, high, medium, low]
    SeverityExtended:
      type: string
      enum: [critical, high, medium, low, info]
    AlertCategory:
      type: string
      enum: [security, optimization, compliance, operational]
    AlertStatus:
      type: string
      enum: [active, acknowledged, resolved, dismissed]
    RemediationType:
      type: string
      enum: [automatic, semi_automatic, manual]
    RemediationStatus:
      type: string
      enum: [pending, executing, success, failed, rolled_back]
    TenantStatus:
      type: string
      enum: [active, suspended, disconnected]
    UserRole:
      type: string
      enum: [viewer, operator, admin, super_admin, platform_admin]
    WorkflowTriggerType:
      type: string
      enum: [cron, webhook, manual, conditional]
    WorkflowRunStatus:
      type: string
      enum: [pending_approval, running, completed, failed, cancelled]
    BackupType:
      type: string
      enum: [exchange, sharepoint, teams]
    BackupStatus:
      type: string
      enum: [pending, running, completed, failed]
    CisOverrideDecision:
      type: string
      enum: [accepted_risk, omit]
    PlanTier:
      type: string
      enum: [all, core, professional, security_suite, enterprise]
    PlanKey:
      type: string
      enum: [trial, free, core, professional, security_suite, enterprise]
    SkillCategory:
      type: string
      enum: [foundation, management, security, analytics, enterprise]
    SkillStatus:
      type: string
      enum: [active, locked, trial]

    # ---- Response Envelopes ----
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          const: true
      required: [success]

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
      required: [error]

    OkResponse:
      type: object
      properties:
        ok:
          type: boolean
          const: true
      required: [ok]

    # ---- Auth & Users ----
    AuthUser:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        organizationId:
          type: string
        tenantIds:
          type: array
          items:
            type: string
        role:
          $ref: '#/components/schemas/UserRole'
        status:
          type: string
          enum: [active, suspended]
        plan:
          type: string
        trialEndsAt:
          type: string
          format: date-time
          nullable: true
        scopeLevel:
          type: string
          enum: [admin, personal]
      required: [id, email, name, organizationId, tenantIds, role]

    PlatformUser:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        email:
          type: string
          format: email
        name:
          type: string
        role:
          $ref: '#/components/schemas/UserRole'
        azureOid:
          type: string
          nullable: true
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
      required: [id, organizationId, email, name, role, createdAt]

    CachedUser:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        azureUserId:
          type: string
        displayName:
          type: string
        email:
          type: string
        userType:
          type: string
          enum: [member, guest]
        accountEnabled:
          type: boolean
        lastSignIn:
          type: string
          format: date-time
          nullable: true
        lastNonInteractiveSignIn:
          type: string
          format: date-time
          nullable: true
        assignedLicenses:
          type: array
          items:
            type: string
        assignedGroups:
          type: array
          items:
            type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
      required: [id, tenantId, azureUserId, displayName, email, userType, accountEnabled]

    # ---- Tenant & Organization ----
    Tenant:
      type: object
      properties:
        id:
          type: string
        organizationId:
          type: string
        azureTenantId:
          type: string
        displayName:
          type: string
        domain:
          type: string
        lastSyncAt:
          type: string
          format: date-time
          nullable: true
        status:
          $ref: '#/components/schemas/TenantStatus'
        createdAt:
          type: string
          format: date-time
      required: [id, organizationId, azureTenantId, displayName, domain, status, createdAt]

    Organization:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [direct, msp]
        billingPlan:
          type: string
        createdAt:
          type: string
          format: date-time
      required: [id, name, type, billingPlan, createdAt]

    # ---- Alert ----
    Alert:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        ruleId:
          type: string
        severity:
          $ref: '#/components/schemas/Severity'
        category:
          $ref: '#/components/schemas/AlertCategory'
        title:
          type: string
        description:
          type: string
        businessImpact:
          type: string
          nullable: true
        affectedResources:
          type: array
          items:
            type: object
        recommendedAction:
          type: string
          nullable: true
        remediationType:
          $ref: '#/components/schemas/RemediationType'
        status:
          $ref: '#/components/schemas/AlertStatus'
        createdAt:
          type: string
          format: date-time
        resolvedAt:
          type: string
          format: date-time
          nullable: true
        resolvedBy:
          type: string
          nullable: true
        metadata:
          type: object
      required: [id, tenantId, ruleId, severity, category, title, description, remediationType, status, createdAt]

    # ---- Remediation ----
    RemediationPlan:
      type: object
      properties:
        impactLevel:
          type: string
        impactExplanation:
          type: string
        riskScore:
          type: number
        affectedUsers:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              email:
                type: string
              role:
                type: string
        affectedResources:
          type: array
          items:
            type: object
        steps:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              description:
                type: string
              effect:
                type: string
        estimatedMinutes:
          type: integer
        reversible:
          type: boolean
        positiveOutcomes:
          type: array
          items:
            type: string
        negativeOutcomes:
          type: array
          items:
            type: string
        userEffects:
          type: array
          items:
            type: string
      required: [impactLevel, riskScore, steps, estimatedMinutes, reversible]

    RemediationLog:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        alertId:
          type: string
        actionId:
          type: string
        executedBy:
          type: string
        status:
          $ref: '#/components/schemas/RemediationStatus'
        beforeState:
          type: object
        afterState:
          type: object
        errorMessage:
          type: string
          nullable: true
        executedAt:
          type: string
          format: date-time
        rollbackAvailable:
          type: boolean
        rollbackExpiresAt:
          type: string
          format: date-time
          nullable: true
      required: [id, tenantId, alertId, actionId, executedBy, status, executedAt, rollbackAvailable]

    # ---- Audit ----
    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        actor:
          type: string
        action:
          type: string
        resourceType:
          type: string
          nullable: true
        resourceId:
          type: string
          nullable: true
        details:
          type: object
        ipAddress:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
      required: [id, tenantId, actor, action, createdAt]

    # ---- CIS Benchmark ----
    CisControl:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        section:
          type: string
        level:
          type: string
          enum: [L1, L2]
        status:
          type: string
          enum: [pass, fail, partial, not_applicable, error]
        severity:
          $ref: '#/components/schemas/Severity'
        evidence:
          type: string
        remediation:
          type: string
        remediationSteps:
          type: array
          items:
            type: string
        remediationScript:
          type: string
        estimatedMinutes:
          type: integer
        overrideDecision:
          $ref: '#/components/schemas/CisOverrideDecision'
        overrideJustification:
          type: string
      required: [id, title, description, section, level, status, severity, evidence, remediation]

    CisScanResult:
      type: object
      properties:
        overallScore:
          type: number
          nullable: true
        passCount:
          type: integer
        failCount:
          type: integer
        partialCount:
          type: integer
        totalControls:
          type: integer
        sectionScores:
          type: object
          additionalProperties:
            type: object
            properties:
              pass:
                type: integer
              fail:
                type: integer
              total:
                type: integer
              score:
                type: number
        controls:
          type: array
          items:
            $ref: '#/components/schemas/CisControl'
        scannedAt:
          type: string
          format: date-time
      required: [passCount, failCount, partialCount, totalControls, controls]

    CisOverride:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        controlId:
          type: string
        decision:
          $ref: '#/components/schemas/CisOverrideDecision'
        justification:
          type: string
        expiresAt:
          type: string
          format: date-time
          nullable: true
        createdAt:
          type: string
          format: date-time
        createdBy:
          type: string
      required: [id, tenantId, controlId, decision, justification, createdAt, createdBy]

    CisTrendPoint:
      type: object
      properties:
        date:
          type: string
        score:
          type: number
        passCount:
          type: integer
        failCount:
          type: integer
        partialCount:
          type: integer
        scansThatDay:
          type: integer

    # ---- Workflow ----
    Workflow:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        name:
          type: string
        workflowType:
          type: string
        triggerType:
          $ref: '#/components/schemas/WorkflowTriggerType'
        triggerConfig:
          type: object
        steps:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowStep'
        requiresApproval:
          type: boolean
        enabled:
          type: boolean
        lastRunAt:
          type: string
          format: date-time
          nullable: true
        lastRunStatus:
          type: string
          nullable: true
        createdAt:
          type: string
          format: date-time
      required: [id, tenantId, name, workflowType, triggerType, enabled, createdAt]

    WorkflowStep:
      type: object
      properties:
        action:
          type: string
        condition:
          type: string
        onFailure:
          type: string
          enum: [skip, abort, retry]
      required: [action, onFailure]

    WorkflowRun:
      type: object
      properties:
        id:
          type: string
        workflowId:
          type: string
        tenantId:
          type: string
        status:
          $ref: '#/components/schemas/WorkflowRunStatus'
        stepsCompleted:
          type: integer
        stepsTotal:
          type: integer
        results:
          type: object
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        approvedBy:
          type: string
          nullable: true
      required: [id, workflowId, tenantId, status, stepsCompleted, stepsTotal, startedAt]

    WorkflowTemplate:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        category:
          type: string
          enum: [license, security, lifecycle, governance]
        triggerType:
          type: string
          enum: [schedule, event, manual, ai]
        steps:
          type: array
          items:
            type: object
        tags:
          type: array
          items:
            type: string
        estimatedDurationMinutes:
          type: integer
      required: [id, name, description, category, triggerType, steps]

    # ---- License ----
    License:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        skuId:
          type: string
        skuName:
          type: string
        total:
          type: integer
        assigned:
          type: integer
        costPerUnit:
          type: number
          nullable: true
        updatedAt:
          type: string
          format: date-time
      required: [id, tenantId, skuId, skuName, total, assigned]

    LicenseWasteItem:
      type: object
      properties:
        skuName:
          type: string
        unassigned:
          type: integer
        monthlyCost:
          type: number

    # ---- Notification ----
    Notification:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        body:
          type: string
        type:
          type: string
          enum: [alert, sync, drift, workflow, system]
        read:
          type: boolean
        createdAt:
          type: string
          format: date-time
        href:
          type: string
      required: [id, title, body, type, read, createdAt]

    # ---- Security Dashboard ----
    SecurityDashboard:
      type: object
      properties:
        secureScore:
          type: number
          nullable: true
        secureScoreMax:
          type: number
          nullable: true
        alertCounts:
          type: object
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer
        mfaCoverage:
          type: number
        riskyUsers:
          type: integer
        staleGuests:
          type: integer
        lastScanAt:
          type: string
          format: date-time
          nullable: true

    # ---- Backup ----
    BackupJob:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        type:
          $ref: '#/components/schemas/BackupType'
        status:
          $ref: '#/components/schemas/BackupStatus'
        sizeBytes:
          type: integer
        itemCount:
          type: integer
        startedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        error:
          type: string
      required: [id, tenantId, type, status, sizeBytes, itemCount, startedAt]

    BackupSchedule:
      type: object
      properties:
        id:
          type: string
        type:
          $ref: '#/components/schemas/BackupType'
        cronExpression:
          type: string
        enabled:
          type: boolean
        lastRunAt:
          type: string
          format: date-time
          nullable: true
        nextRunAt:
          type: string
          format: date-time
          nullable: true

    # ---- SSO ----
    SSOConnection:
      type: object
      properties:
        id:
          type: string
        protocol:
          type: string
          enum: [saml, oidc]
        displayName:
          type: string
        issuer:
          type: string
        metadataUrl:
          type: string
        clientId:
          type: string
        enabled:
          type: boolean
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
      required: [id, protocol, displayName, issuer, enabled, createdAt]

    ScimToken:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        createdAt:
          type: string
          format: date-time
        lastUsedAt:
          type: string
          format: date-time
          nullable: true
        expiresAt:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [active, revoked]
      required: [id, name, createdAt, status]

    # ---- Skill ----
    Skill:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        icon:
          type: string
        description:
          type: string
        category:
          $ref: '#/components/schemas/SkillCategory'
        href:
          type: string
        status:
          $ref: '#/components/schemas/SkillStatus'
        price:
          type: number
        includedIn:
          $ref: '#/components/schemas/PlanTier'
        trialDaysLeft:
          type: integer
      required: [id, name, icon, description, category, href, status, price, includedIn]

    # ---- Config Snapshot & Drift ----
    ConfigSnapshot:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        category:
          type: string
        data:
          type: object
        createdAt:
          type: string
          format: date-time
        version:
          type: integer
      required: [id, tenantId, category, createdAt, version]

    ConfigDrift:
      type: object
      properties:
        id:
          type: string
        snapshotId:
          type: string
        previousSnapshotId:
          type: string
        field:
          type: string
        previousValue:
          type: object
        currentValue:
          type: object
        severity:
          $ref: '#/components/schemas/Severity'
        category:
          type: string
        detectedAt:
          type: string
          format: date-time
      required: [id, snapshotId, field, severity, category, detectedAt]

    # ---- Copilot ----
    CopilotReadinessResult:
      type: object
      properties:
        overallScore:
          type: number
        categoryScores:
          type: object
          additionalProperties:
            type: number
        categories:
          type: object
          additionalProperties:
            type: object
            properties:
              score:
                type: number
              checks:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    status:
                      type: string
                      enum: [pass, fail, warning, error]
                    detail:
                      type: string
        recommendations:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
              priority:
                $ref: '#/components/schemas/Severity'
              title:
                type: string
              description:
                type: string
      required: [overallScore, categoryScores, categories, recommendations]

    # ---- Dashboard ----
    DashboardMetrics:
      type: object
      properties:
        secureScore:
          type: number
          nullable: true
        secureScoreTrend:
          type: array
          items:
            type: number
        activeAlerts:
          type: object
          properties:
            critical:
              type: integer
            high:
              type: integer
            medium:
              type: integer
            low:
              type: integer
        totalUsers:
          type: integer
        activeUsers:
          type: integer
        licenseWaste:
          type: number
        totalLicenseSpend:
          type: number
        userBreakdown:
          type: object
          properties:
            total:
              type: integer
            active:
              type: integer
            inactive:
              type: integer
            guests:
              type: integer
            disabled:
              type: integer
        topRiskyUsers:
          type: array
          items:
            type: object
            properties:
              displayName:
                type: string
              email:
                type: string
              riskReason:
                type: string
              daysSinceSignIn:
                type: integer
                nullable: true
              accountEnabled:
                type: boolean
        licenseUtilization:
          type: number
        licenseBreakdown:
          type: array
          items:
            type: object
            properties:
              skuName:
                type: string
              assigned:
                type: integer
              total:
                type: integer
              costPerUnit:
                type: number
        recentAlerts:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        lastSyncAt:
          type: string
          format: date-time
          nullable: true

    # ---- MSP ----
    MspSummary:
      type: object
      properties:
        totalTenants:
          type: integer
        activeTenants:
          type: integer
        totalUsers:
          type: integer
        totalAlerts:
          type: integer
        avgCisScore:
          type: number
          nullable: true
        avgLicenseUtilization:
          type: number

    # ---- UpsellInfo (402) ----
    UpsellInfo:
      type: object
      properties:
        required:
          type: object
          properties:
            display:
              type: string
            reason:
              type: string
            priceUsdPerUserPerMonth:
              type: number
            anyOf:
              type: array
              items:
                type: string
        suggestedSeats:
          type: integer
        estimatedMonthlyCostUsd:
          type: number

    # ---- Compliance ----
    ComplianceFramework:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        score:
          type: number
        controlsTotal:
          type: integer
        controlsPass:
          type: integer
      required: [id, name, score, controlsTotal, controlsPass]

    # ---- Deletion Report ----
    DeletionReport:
      type: object
      description: Report of GDPR Art. 17 cascade deletion across 33 tables
      properties:
        rowsDeleted:
          type: object
          additionalProperties:
            type: integer
        kvPurged:
          type: integer
        r2Purged:
          type: integer
        durationMs:
          type: number

    # ---- Sign-in ----
    SignInLog:
      type: object
      properties:
        id:
          type: string
        userDisplayName:
          type: string
        userPrincipalName:
          type: string
        ipAddress:
          type: string
        location:
          type: string
        status:
          type: string
        createdDateTime:
          type: string
          format: date-time
      required: [id, userDisplayName, userPrincipalName, ipAddress, status, createdDateTime]

    SignInSummary:
      type: object
      properties:
        total:
          type: integer
        success:
          type: integer
        failure:
          type: integer
        riskySigns:
          type: integer

    # ---- Integration ----
    Integration:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [connectwise, datto, kaseya, openclaw, generic_webhook]
        enabled:
          type: boolean
        lastSyncAt:
          type: string
          format: date-time
          nullable: true
        status:
          type: string
          enum: [connected, disconnected, error]
      required: [id, name, type, enabled, status]

    # ---- Branding ----
    OrgBranding:
      type: object
      properties:
        orgId:
          type: string
        logoUrl:
          type: string
          nullable: true
        faviconUrl:
          type: string
          nullable: true
        primaryColor:
          type: string
        secondaryColor:
          type: string
        companyName:
          type: string
        customDomain:
          type: string
          nullable: true
        emailFromName:
          type: string
          nullable: true

    # ---- Prospect Scan ----
    ProspectScanResult:
      type: object
      properties:
        domain:
          type: string
        score:
          type: number
        findings:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              severity:
                $ref: '#/components/schemas/Severity'
              description:
                type: string
              recommendation:
                type: string
        scannedAt:
          type: string
          format: date-time
      required: [domain, score, findings, scannedAt]

    # ---- Executive Report ----
    ExecutiveReport:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        period:
          type: string
        generatedAt:
          type: string
          format: date-time
        sections:
          type: array
          items:
            type: object
        financial:
          type: object
          properties:
            totalSpend:
              type: number
            wastedSpend:
              type: number
            savingsRealized:
              type: number
            projectedSavings:
              type: number
            costPerUser:
              type: number
            roi:
              type: number
        actions:
          type: array
          items:
            type: object

    # ---- Threat ----
    Threat:
      type: object
      properties:
        id:
          type: string
        severity:
          $ref: '#/components/schemas/Severity'
        type:
          type: string
        title:
          type: string
        description:
          type: string
        user:
          type: object
          nullable: true
        affectedUsers:
          type: integer
        details:
          type: object
        riskScore:
          type: number
        timestamp:
          type: string
          format: date-time
        status:
          type: string
        suggestedActions:
          type: array
          items:
            type: string
      required: [id, severity, type, title, description, riskScore, timestamp, status]

    # ---- UEBA ----
    UebaUser:
      type: object
      properties:
        userId:
          type: string
        displayName:
          type: string
        email:
          type: string
        riskScore:
          type: number
        anomalies:
          type: array
          items:
            type: object
        lastActivity:
          type: string

    UebaSummary:
      type: object
      properties:
        totalUsers:
          type: integer
        riskyUsers:
          type: integer
        anomalyCount:
          type: integer

    # ---- GDAP ----
    GdapRelationship:
      type: object
      properties:
        id:
          type: string
        customerId:
          type: string
        customerName:
          type: string
        roles:
          type: array
          items:
            type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true

    # ---- Announcement ----
    Announcement:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        body:
          type: string
        type:
          type: string
          enum: [info, warning, maintenance]
        publishedAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
          nullable: true
        active:
          type: boolean
      required: [id, title, body, type, publishedAt, active]

# ============================================================
# PATHS
# ============================================================
paths:
  # ---- Health & Infrastructure ----
  /health/:
    get:
      operationId: getHealth
      summary: Health check with database and service status
      tags: [Health]
      security: []
      responses:
        '200':
          description: Healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                      timestamp:
                        type: string
                      version:
                        type: string
                      uptimeSeconds:
                        type: number
                  environment:
                    type: string
        '503':
          description: Unhealthy

  /health/ready:
    get:
      operationId: getHealthReady
      summary: Readiness probe
      tags: [Health]
      security: []
      responses:
        '200':
          description: Ready
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ready, not_ready]
                  timestamp:
                    type: string

  /health/live:
    get:
      operationId: getHealthLive
      summary: Liveness probe
      tags: [Health]
      security: []
      responses:
        '200':
          description: Alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    const: alive
                  timestamp:
                    type: string

  /health/detailed:
    get:
      operationId: getHealthDetailed
      summary: Detailed health including KV, R2, queues
      tags: [Health]
      security: []
      responses:
        '200':
          description: Detailed health
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  database:
                    type: string
                  kv:
                    type: string
                  r2:
                    type: string
                  queues:
                    type: string
                  timestamp:
                    type: string

  /health/ping:
    get:
      operationId: getHealthPing
      summary: Simple ping/pong
      tags: [Health]
      security: []
      responses:
        '200':
          description: Pong
          content:
            application/json:
              schema:
                type: object
                properties:
                  pong:
                    type: boolean
                    const: true

  /api/metrics:
    get:
      operationId: getMetrics
      summary: Platform metrics
      tags: [Health]
      responses:
        '200':
          description: Metrics data
          content:
            application/json:
              schema:
                type: object
                description: Platform metrics object

  /api/self-test/:
    get:
      operationId: getSelfTest
      summary: Post-deploy self-test verification
      tags: [Health]
      responses:
        '200':
          description: Self-test results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  checks:
                    type: object
                  user:
                    type: object

  # ---- Authentication ----
  /api/auth/login:
    get:
      operationId: authLogin
      summary: Redirect to Microsoft OAuth login
      description: Rate-limited 5/min. Generates state nonce in KV.
      tags: [Auth]
      security: []
      responses:
        '302':
          description: Redirect to Microsoft OAuth

  /api/auth/login/personal:
    get:
      operationId: authLoginPersonal
      summary: Redirect to Microsoft OAuth with personal scopes
      description: Rate-limited 5/min.
      tags: [Auth]
      security: []
      responses:
        '302':
          description: Redirect to Microsoft OAuth (personal)

  /api/auth/onboard-org:
    get:
      operationId: authOnboardOrg
      summary: Redirect to Microsoft admin-consent for organization
      tags: [Auth]
      responses:
        '302':
          description: Redirect to admin-consent

  /api/auth/login/linkedin:
    get:
      operationId: authLoginLinkedIn
      summary: Redirect to LinkedIn OAuth
      description: Rate-limited 5/min.
      tags: [Auth]
      security: []
      responses:
        '302':
          description: Redirect to LinkedIn OAuth

  /api/auth/callback/linkedin:
    get:
      operationId: authCallbackLinkedIn
      summary: LinkedIn OAuth callback
      description: Rate-limited 5/min.
      tags: [Auth]
      security: []
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to frontend with auth code

  /api/auth/callback:
    get:
      operationId: authCallback
      summary: Microsoft OAuth callback (login and admin-consent)
      description: Rate-limited 5/min. Handles both login and admin-consent flows.
      tags: [Auth]
      security: []
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: admin_consent
          in: query
          schema:
            type: string
        - name: tenant
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to frontend with one-time auth code

  /api/auth/exchange:
    post:
      operationId: authExchange
      summary: Exchange one-time code for session cookie
      description: Rate-limited 5/min.
      tags: [Auth]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
              required: [code]
      responses:
        '200':
          description: Session created
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/AuthUser'

  /api/auth/refresh:
    post:
      operationId: authRefresh
      summary: Refresh JWT session
      description: Rate-limited 10/min. Reads token from cookie/header, re-mints with fresh tenant list.
      tags: [Auth]
      security: []
      responses:
        '200':
          description: Token refreshed
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                  ok:
                    type: boolean
                  success:
                    type: boolean

  /api/auth/me:
    get:
      operationId: authMe
      summary: Get current authenticated user
      tags: [Auth]
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/AuthUser'
        '401':
          description: Not authenticated

  /api/auth/logout:
    post:
      operationId: authLogout
      summary: Logout and revoke session
      description: Revokes JTI in KV deny-list.
      tags: [Auth]
      security: []
      responses:
        '200':
          description: Logged out
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/auth/ws-ticket:
    get:
      operationId: authWsTicket
      summary: Get short-lived WebSocket/SSE ticket
      description: Returns a 60s short-lived ticket for WS/SSE connections.
      tags: [Auth]
      responses:
        '200':
          description: WS ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  ticket:
                    type: string

  /api/.well-known/jwks.json/:
    get:
      operationId: getJwks
      summary: JWKS endpoint (RS256 public key set)
      description: Cached 1hr. 404 if RS256 not configured.
      tags: [Auth]
      security: []
      responses:
        '200':
          description: JWKS
          content:
            application/json:
              schema:
                type: object
        '404':
          description: RS256 not configured

  # ---- WebAuthn ----
  /api/auth/webauthn/register/options:
    post:
      operationId: webauthnRegisterOptions
      summary: Get WebAuthn registration options
      tags: [WebAuthn]
      responses:
        '200':
          description: Registration options
          content:
            application/json:
              schema:
                type: object
                description: PublicKeyCredentialCreationOptions

  /api/auth/webauthn/register/verify:
    post:
      operationId: webauthnRegisterVerify
      summary: Verify WebAuthn registration
      tags: [WebAuthn]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                response:
                  type: object
                deviceName:
                  type: string
              required: [response]
      responses:
        '200':
          description: Registration verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  credentialId:
                    type: string

  /api/auth/webauthn/auth/options:
    post:
      operationId: webauthnAuthOptions
      summary: Get WebAuthn authentication options
      tags: [WebAuthn]
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
      responses:
        '200':
          description: Authentication options
          content:
            application/json:
              schema:
                type: object
                description: PublicKeyCredentialRequestOptions

  /api/auth/webauthn/auth/verify:
    post:
      operationId: webauthnAuthVerify
      summary: Verify WebAuthn authentication
      tags: [WebAuthn]
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                response:
                  type: object
              required: [response]
      responses:
        '200':
          description: Authentication verified
          headers:
            Set-Cookie:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  verified:
                    type: boolean
                  token:
                    type: string
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      role:
                        type: string

  # ---- SSO ----
  /api/sso/:
    get:
      operationId: listSsoConnections
      summary: List SSO connections
      description: Rate-limited 30/min.
      tags: [SSO]
      responses:
        '200':
          description: SSO connections
          content:
            application/json:
              schema:
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: '#/components/schemas/SSOConnection'
    post:
      operationId: createSsoConnection
      summary: Create SSO connection
      description: Rate-limited 30/min. Admin role required.
      tags: [SSO]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                displayName:
                  type: string
                domain:
                  type: string
                issuerUrl:
                  type: string
                clientId:
                  type: string
                metadataUrl:
                  type: string
                certificate:
                  type: string
                jitEnabled:
                  type: boolean
              required: [provider, displayName, domain]
      responses:
        '200':
          description: Connection created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  success:
                    type: boolean

  /api/sso/{id}:
    patch:
      operationId: updateSsoConnection
      summary: Update SSO connection
      tags: [SSO]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Partial SSO connection fields
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      operationId: deleteSsoConnection
      summary: Delete SSO connection
      tags: [SSO]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/sso/{id}/test:
    post:
      operationId: testSsoConnection
      summary: Test SSO connection
      tags: [SSO]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Test result
          content:
            application/json:
              schema:
                type: object

  /api/sso/login/{domain}:
    get:
      operationId: ssoLoginByDomain
      summary: Initiate SSO login by domain
      description: Rate-limited 10/min. Public endpoint.
      tags: [SSO]
      security: []
      parameters:
        - name: domain
          in: path
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to IdP

  /api/sso/callback/oidc:
    get:
      operationId: ssoCallbackOidc
      summary: OIDC SSO callback
      description: Rate-limited 10/min.
      tags: [SSO]
      security: []
      parameters:
        - name: code
          in: query
          schema:
            type: string
        - name: state
          in: query
          schema:
            type: string
        - name: id_token
          in: query
          schema:
            type: string
      responses:
        '302':
          description: Redirect to frontend with session cookie

  /api/sso/callback/saml:
    post:
      operationId: ssoCallbackSaml
      summary: SAML SSO callback
      description: Rate-limited 10/min.
      tags: [SSO]
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                state:
                  type: string
      responses:
        '302':
          description: Redirect to frontend with session cookie

  /api/sso/scim-tokens/:
    get:
      operationId: listScimTokens
      summary: List SCIM provisioning tokens
      tags: [SSO]
      responses:
        '200':
          description: SCIM tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/ScimToken'
    post:
      operationId: createScimToken
      summary: Create SCIM provisioning token
      description: Admin role required. Plaintext token shown once.
      tags: [SSO]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                scopes:
                  type: array
                  items:
                    type: string
              required: [name, scopes]
      responses:
        '200':
          description: Token created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  token:
                    type: string
                    description: Plaintext token, shown once

  /api/sso/scim-tokens/{id}:
    delete:
      operationId: deleteScimToken
      summary: Delete SCIM token
      tags: [SSO]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ---- SCIM 2.0 ----
  /scim/v2/Users:
    get:
      operationId: scimListUsers
      summary: List SCIM users (RFC 7644)
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: filter
          in: query
          schema:
            type: string
        - name: startIndex
          in: query
          schema:
            type: integer
        - name: count
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: SCIM ListResponse
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: scimCreateUser
      summary: Create SCIM user
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: SCIM User resource
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                type: object

  /scim/v2/Users/{id}:
    get:
      operationId: scimGetUser
      summary: Get SCIM user by ID
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SCIM User resource
          content:
            application/json:
              schema:
                type: object
    patch:
      operationId: scimPatchUser
      summary: Patch SCIM user
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: SCIM PatchOp
      responses:
        '200':
          description: User patched
          content:
            application/json:
              schema:
                type: object
    delete:
      operationId: scimDeleteUser
      summary: Delete SCIM user
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User deleted

  /scim/v2/Groups:
    get:
      operationId: scimListGroups
      summary: List SCIM groups
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: filter
          in: query
          schema:
            type: string
        - name: startIndex
          in: query
          schema:
            type: integer
        - name: count
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: SCIM ListResponse
          content:
            application/json:
              schema:
                type: object
    post:
      operationId: scimCreateGroup
      summary: Create SCIM group
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Group created
          content:
            application/json:
              schema:
                type: object

  /scim/v2/Groups/{id}:
    get:
      operationId: scimGetGroup
      summary: Get SCIM group by ID
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SCIM Group resource
          content:
            application/json:
              schema:
                type: object
    patch:
      operationId: scimPatchGroup
      summary: Patch SCIM group
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Group patched
          content:
            application/json:
              schema:
                type: object
    delete:
      operationId: scimDeleteGroup
      summary: Delete SCIM group
      tags: [SCIM]
      security:
        - scimBearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Group deleted

  # ---- Account ----
  /api/account/:
    delete:
      operationId: deleteAccount
      summary: Delete organization account (GDPR Art. 17 cascade)
      description: Rate-limited 2/10min. Cascades across 33 tables. Admin/super_admin required.
      tags: [Account]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                confirm:
                  type: string
                  const: DELETE
              required: [confirm]
      responses:
        '200':
          description: Account deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  report:
                    $ref: '#/components/schemas/DeletionReport'

  /api/account/export:
    get:
      operationId: exportAccountData
      summary: Export account data (GDPR data portability)
      tags: [Account]
      responses:
        '200':
          description: Account data export
          content:
            application/json:
              schema:
                type: object
                properties:
                  generatedAt:
                    type: string
                  organization:
                    type: object
                  platformUsers:
                    type: array
                    items:
                      type: object
                  tenants:
                    type: array
                    items:
                      type: object
                  note:
                    type: string

  # ---- Tenants CRUD ----
  /api/tenants/:
    get:
      operationId: listTenants
      summary: List organization tenants
      description: Org-scoped via JWT.
      tags: [Tenants]
      responses:
        '200':
          description: Tenant list
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
    post:
      operationId: createTenant
      summary: Create a new tenant
      description: Enforces plan tenant cap.
      tags: [Tenants]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                azureTenantId:
                  type: string
                displayName:
                  type: string
                domain:
                  type: string
              required: [azureTenantId]
      responses:
        '200':
          description: Tenant created
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant:
                    $ref: '#/components/schemas/Tenant'

  /api/tenants/{id}:
    get:
      operationId: getTenant
      summary: Get tenant by ID
      tags: [Tenants]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant:
                    $ref: '#/components/schemas/Tenant'
    delete:
      operationId: deleteTenant
      summary: Delete tenant
      tags: [Tenants]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ---- Tenant Sync & Dashboard ----
  /api/tenants/{id}/sync:
    post:
      operationId: syncTenant
      summary: Trigger Graph API sync for tenant
      tags: [Tenants]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sync triggered
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  syncedItems:
                    type: object

  /api/tenants/{id}/sync/status:
    get:
      operationId: getTenantSyncStatus
      summary: Get tenant sync status
      tags: [Tenants]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Sync status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  syncedAt:
                    type: string

  /api/tenants/{id}/dashboard:
    get:
      operationId: getTenantDashboard
      summary: Get tenant dashboard metrics
      description: KV-cached 60s.
      tags: [Tenants]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetrics'

  # ---- Tenant Settings ----
  /api/tenants/{id}/settings:
    get:
      operationId: getTenantSettings
      summary: Get tenant settings
      tags: [Tenants]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Tenant settings
          content:
            application/json:
              schema:
                type: object
    patch:
      operationId: updateTenantSettings
      summary: Update tenant settings
      tags: [Tenants]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ---- Tenant Alerts ----
  /api/tenants/{id}/alerts:
    get:
      operationId: getTenantAlerts
      summary: List alerts for a tenant
      tags: [TenantAlerts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'

  /api/tenants/{id}/alerts/{alertId}/remediation-plan:
    get:
      operationId: getTenantAlertRemediationPlan
      summary: Get remediation plan for a tenant alert
      tags: [TenantAlerts]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: alertId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Remediation plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    $ref: '#/components/schemas/RemediationPlan'

  # ---- Tenant Audit ----
  /api/tenants/{id}/audit:
    get:
      operationId: getTenantAuditLogs
      summary: Get tenant audit logs
      tags: [AuditHistory]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: action
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Audit logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditLogEntry'
                  total:
                    type: integer
                  page:
                    type: integer

  /api/tenants/{id}/audit/role-history:
    get:
      operationId: getTenantRoleHistory
      summary: Get tenant role change history
      tags: [AuditHistory]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Role history
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/audit/policy-history:
    get:
      operationId: getTenantPolicyHistory
      summary: Get tenant policy change history
      tags: [AuditHistory]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policy history
          content:
            application/json:
              schema:
                type: object
                properties:
                  history:
                    type: array
                    items:
                      type: object

  # ---- Tenant Security ----
  /api/tenants/{id}/users:
    get:
      operationId: getTenantUsers
      summary: List cached users for a tenant
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/CachedUser'

  /api/tenants/{id}/security:
    get:
      operationId: getTenantSecurity
      summary: Get tenant security overview
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Security data
          content:
            application/json:
              schema:
                type: object

  /api/tenants/{id}/certificates:
    get:
      operationId: getTenantCertificates
      summary: Get app certificates for a tenant
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Certificates
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificates:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/policies:
    get:
      operationId: getTenantPolicies
      summary: Get conditional access policies
      description: KV-cached 300s.
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Policies
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      type: object
                  summary:
                    type: object

  /api/tenants/{id}/privileged-users:
    get:
      operationId: getTenantPrivilegedUsers
      summary: Get privileged users
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Privileged users
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/admin-roles:
    get:
      operationId: getTenantAdminRoles
      summary: Get admin role assignments
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Admin roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  roles:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/secure-score:
    get:
      operationId: getTenantSecureScore
      summary: Get Microsoft Secure Score and trend
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Secure score
          content:
            application/json:
              schema:
                type: object
                properties:
                  current:
                    type: number
                  trend:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/msp:
    get:
      operationId: getTenantMsp
      summary: Get MSP view for tenant
      tags: [TenantSecurity]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: MSP data
          content:
            application/json:
              schema:
                type: object

  # ---- Security Stack ----
  /api/tenants/{id}/security/stack:
    get:
      operationId: getTenantSecurityStack
      summary: Get security stack categories
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Security stack
          content:
            application/json:
              schema:
                type: object
                properties:
                  categories:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/security/stack/configure:
    post:
      operationId: configureSecurityStackTool
      summary: Configure a security stack tool
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                toolId:
                  type: string
                config:
                  type: object
              required: [toolId, config]
      responses:
        '200':
          description: Configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/tenants/{id}/security/stack/remediate:
    post:
      operationId: remediateSecurityStackFinding
      summary: Remediate a security stack finding
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                findingId:
                  type: string
              required: [findingId]
      responses:
        '200':
          description: Remediated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/tenants/{id}/security/stack/templates:
    get:
      operationId: getSecurityStackTemplates
      summary: Get security stack templates
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  templates:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/security/stack/monitor:
    get:
      operationId: getSecurityStackMonitor
      summary: Get security stack drift monitoring
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Monitor data
          content:
            application/json:
              schema:
                type: object

  /api/tenants/{id}/security/stack/monitor/scan:
    post:
      operationId: scanSecurityStackMonitor
      summary: Trigger security stack drift scan
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Drifts found
          content:
            application/json:
              schema:
                type: object
                properties:
                  drifts:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/security/stack/monitor/baseline:
    post:
      operationId: setSecurityStackBaseline
      summary: Set security stack baseline
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Baseline set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/tenants/{id}/security/stack/monitor/drifts/{driftId}/acknowledge:
    patch:
      operationId: acknowledgeSecurityStackDrift
      summary: Acknowledge a security stack drift
      tags: [SecurityStack]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: driftId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ---- Hardening ----
  /api/tenants/{id}/security/hardening-assessment:
    get:
      operationId: getTenantHardeningAssessment
      summary: Get hardening assessment
      tags: [Hardening]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Hardening assessment
          content:
            application/json:
              schema:
                type: object
                properties:
                  assessment:
                    type: object

  /api/tenants/{id}/security/hardening/dryrun:
    post:
      operationId: hardeningDryRun
      summary: Dry-run hardening actions
      tags: [Hardening]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    type: object
              required: [actions]
      responses:
        '200':
          description: Dry-run results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/security/hardening/execute:
    post:
      operationId: hardeningExecute
      summary: Execute hardening actions
      tags: [Hardening]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    type: object
              required: [actions]
      responses:
        '200':
          description: Execution results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object

  # ---- Tenant Email & Sign-in ----
  /api/tenants/{id}/email-security:
    get:
      operationId: getTenantEmailSecurity
      summary: Get email security data (SPF, DKIM, DMARC)
      tags: [TenantEmail]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Email security
          content:
            application/json:
              schema:
                type: object
                properties:
                  emailSecurity:
                    type: object

  /api/tenants/{id}/signin-logs:
    get:
      operationId: getTenantSignInLogs
      summary: Get sign-in logs
      tags: [TenantEmail]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Sign-in logs
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/SignInLog'
                  total:
                    type: integer

  /api/tenants/{id}/signin-logs/summary:
    get:
      operationId: getTenantSignInSummary
      summary: Get sign-in summary
      tags: [TenantEmail]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  summary:
                    $ref: '#/components/schemas/SignInSummary'

  /api/tenants/{id}/inbox-rules:
    get:
      operationId: getTenantInboxRules
      summary: Get mailbox rules with BEC indicators
      tags: [TenantEmail]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Inbox rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  rules:
                    type: array
                    items:
                      type: object
                  becIndicators:
                    type: array
                    items:
                      type: object

  # ---- Tenant Threats ----
  /api/tenants/{id}/phishing/scan:
    post:
      operationId: scanTenantPhishing
      summary: Trigger phishing scan
      tags: [TenantThreats]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Phishing threats
          content:
            application/json:
              schema:
                type: object
                properties:
                  threats:
                    type: array
                    items:
                      type: object

  /api/tenants/{id}/threats:
    get:
      operationId: getTenantThreats
      summary: Get tenant threats
      tags: [TenantThreats]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Threats
          content:
            application/json:
              schema:
                type: object
                properties:
                  threats:
                    type: array
                    items:
                      $ref: '#/components/schemas/Threat'

  /api/tenants/{id}/ueba:
    get:
      operationId: getTenantUeba
      summary: Get UEBA data
      tags: [TenantThreats]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: UEBA data
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/UebaUser'
                  summary:
                    $ref: '#/components/schemas/UebaSummary'

  /api/tenants/{id}/sdlc:
    get:
      operationId: getTenantSdlc
      summary: Get SDLC AI compliance config and stats
      tags: [TenantThreats]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SDLC data
          content:
            application/json:
              schema:
                type: object

  /api/tenants/{id}/sdlc/configure:
    post:
      operationId: configureTenantSdlc
      summary: Configure SDLC
      tags: [TenantThreats]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                config:
                  type: object
                apiKey:
                  type: string
      responses:
        '200':
          description: Configured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/tenants/{id}/sdlc/refresh:
    post:
      operationId: refreshTenantSdlc
      summary: Refresh SDLC stats
      tags: [TenantThreats]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Refreshed
          content:
            application/json:
              schema:
                type: object

  /api/tenants/{id}/sdlc/disable:
    post:
      operationId: disableTenantSdlc
      summary: Disable SDLC
      tags: [TenantThreats]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ---- Tenant Backups ----
  /api/tenants/{id}/backup/analyze:
    post:
      operationId: analyzeTenantBackup
      summary: Analyze backup health
      tags: [TenantBackups]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Backup analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  analysis:
                    type: object

  /api/tenants/{id}/backup/create:
    post:
      operationId: createTenantBackup
      summary: Create a new backup
      tags: [TenantBackups]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Backup started
          content:
            application/json:
              schema:
                type: object
                properties:
                  backupId:
                    type: string
                  success:
                    type: boolean

  /api/tenants/{id}/backups:
    get:
      operationId: listTenantBackups
      summary: List tenant backups
      tags: [TenantBackups]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Backups
          content:
            application/json:
              schema:
                type: object
                properties:
                  backups:
                    type: array
                    items:
                      $ref: '#/components/schemas/BackupJob'

  /api/tenants/{id}/backup/restore:
    post:
      operationId: restoreTenantBackup
      summary: Restore from backup
      tags: [TenantBackups]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                backupId:
                  type: string
              required: [backupId]
      responses:
        '200':
          description: Restore initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/tenants/{id}/backups/cleanup:
    delete:
      operationId: cleanupTenantBackups
      summary: Cleanup old backups
      tags: [TenantBackups]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Cleanup result
          content:
            application/json:
              schema:
                type: object
                properties:
                  deleted:
                    type: integer

  /api/tenants/{id}/backup/schedule:
    get:
      operationId: getTenantBackupSchedule
      summary: Get backup schedule
      tags: [TenantBackups]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Backup schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackupSchedule'
    post:
      operationId: setTenantBackupSchedule
      summary: Set backup schedule
      tags: [TenantBackups]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupSchedule'
      responses:
        '200':
          description: Schedule set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ---- Tenant Licenses ----
  /api/tenants/{id}/consent/url:
    post:
      operationId: getTenantConsentUrl
      summary: Get admin consent URL
      tags: [TenantLicenses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Consent URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string

  /api/tenants/{id}/consent/status:
    get:
      operationId: getTenantConsentStatus
      summary: Get admin consent status
      tags: [TenantLicenses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Consent status
          content:
            application/json:
              schema:
                type: object
                properties:
                  consented:
                    type: boolean

  /api/tenants/{id}/licenses:
    get:
      operationId: getTenantLicenses
      summary: Get licenses for a tenant
      description: KV-cached 120s.
      tags: [TenantLicenses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Licenses
          content:
            application/json:
              schema:
                type: object
                properties:
                  licenses:
                    type: array
                    items:
                      $ref: '#/components/schemas/License'

  /api/tenants/{id}/licenses/waste:
    get:
      operationId: getTenantLicenseWaste
      summary: Get license waste analysis
      tags: [TenantLicenses]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: License waste
          content:
            application/json:
              schema:
                type: object
                properties:
                  waste:
                    type: array
                    items:
                      $ref: '#/components/schemas/LicenseWasteItem'

  /api/tenants/{tenantId}/licenses/optimize:
    post:
      operationId: optimizeTenantLicenses
      summary: Execute license optimization
      tags: [TenantLicenses]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    type: object
      responses:
        '200':
          description: Optimization results
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object

  /api/tenants/{tenantId}/licenses/export:
    get:
      operationId: exportTenantLicenses
      summary: Export licenses as CSV
      tags: [TenantLicenses]
      parameters:
        - name: tenantId
          in: path
[...]
