openapi: 3.0.3
info:
  title: SDLC.ai - Secure Data Learning Platform API
  description: |
    ## Overview

    SDLC.ai is a Cloudflare-native, zero-trust middleware fabric that enables secure AI-data interactions.
    This API provides comprehensive functionality for document management, AI-powered queries, policy enforcement,
    and multi-tenant administration.

    ## Architecture

    The platform is built with security-first principles and includes:
    - **Gateway Service**: Request routing, authentication, rate limiting, and policy enforcement
    - **RAG Service**: Document processing, vector search, and AI-powered query responses
    - **Vector Core**: Embedding generation and similarity search
    - **Policy Engine**: Real-time authorization and compliance enforcement
    - **DLP Pipeline**: Data loss prevention and content sanitization

    ## Key Features

    - 🔐 **Zero-Trust Security**: Multi-factor authentication, mTLS, end-to-end encryption
    - 🏢 **Multi-Tenant**: Complete tenant isolation with customizable policies
    - 🤖 **AI-Powered**: Advanced RAG (Retrieval-Augmented Generation) capabilities
    - 📊 **Real-time Monitoring**: Comprehensive metrics, logging, and alerting
    - 🔍 **Vector Search**: Semantic search with hybrid capabilities
    - 🛡️ **DLP Integration**: Automated PII detection and content redaction
    - 📈 **Scalable Architecture**: Cloudflare Workers with global edge deployment

    ## Authentication

    The API uses JWT (JSON Web Token) authentication with the following schemes:

    1. **Bearer Token**: Include `Authorization: Bearer <token>` header
    2. **API Key**: Include `X-API-Key: <api_key>` header for service-to-service communication

    ## Rate Limiting

    Rate limiting is applied at multiple levels:
    - **Global**: API-wide limits
    - **Per-Tenant**: Tenant-specific quotas
    - **Per-User**: User-based limits
    - **Per-Endpoint**: Endpoint-specific restrictions

    Rate limit headers are included in all responses:
    - `X-RateLimit-Limit`: Total requests allowed
    - `X-RateLimit-Remaining`: Remaining requests
    - `X-RateLimit-Reset`: Reset time (Unix timestamp)

    ## Error Handling

    The API uses standard HTTP status codes and provides detailed error responses:

    ```json
    {
      "success": false,
      "error": {
        "code": "VALIDATION_ERROR",
        "message": "Invalid request parameters",
        "details": [
          {
            "field": "email",
            "message": "Invalid email format"
          }
        ]
      },
      "meta": {
        "request_id": "req_123456789",
        "timestamp": "2025-10-29T10:30:00Z",
        "version": "v1"
      }
    }
    ```

    ## Versioning

    The API supports versioning through:
    - **URL Versioning**: `/api/v1/`, `/api/v2/`, etc.
    - **Header Versioning**: `Accept: application/vnd.sdlc.v1+json`

    Backward compatibility is maintained for at least 6 months.

    ## SDKs

    Official SDKs are available for:
    - **Python**: `pip install sdlc-ai`
    - **TypeScript**: `npm install @sdlc-ai/sdk`
    - **Go**: `go get github.com/sdlc-ai/platform-sdk-go`

    ## Support

    - **Documentation**: https://docs.sdlc.ai
    - **Support**: support@sdlc.ai
    - **Status**: https://status.sdlc.ai
    - **GitHub**: https://github.com/sdlc-ai/platform

  version: 1.0.0
  termsOfService: https://sdlc.ai/terms
  contact:
    name: SDLC.ai Support
    email: support@sdlc.ai
    url: https://sdlc.ai/support
  license:
    name: Commercial License
    url: https://sdlc.ai/license
servers:
  - url: https://api.sdlc.ai/v1
    description: Production Server
  - url: https://staging-api.sdlc.ai/v1
    description: Staging Server
  - url: https://dev-api.sdlc.ai/v1
    description: Development Server
  - url: http://localhost:8080/v1
    description: Local Development

paths:
  # Health and System Endpoints
  /health:
    get:
      tags:
        - Health
      summary: Basic health check
      description: Returns basic health status of the API service
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              examples:
                healthy:
                  value:
                    status: healthy
                    timestamp: "2025-10-29T10:30:00Z"
                    version: "1.0.0"

  /health/ready:
    get:
      tags:
        - Health
      summary: Readiness check
      description: Checks if the service is ready to serve traffic (includes dependency checks)
      operationId: readinessCheck
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /health/live:
    get:
      tags:
        - Health
      summary: Liveness check
      description: Checks if the service is alive (basic liveness probe)
      operationId: livenessCheck
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /version:
    get:
      tags:
        - Health
      summary: Get version information
      description: Returns detailed version and build information
      operationId: getVersion
      responses:
        '200':
          description: Version information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'

  # Authentication Endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user credentials and return JWT tokens
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              standard_login:
                value:
                  email: "user@example.com"
                  password: "SecurePassword123!"
                  tenant_id: "123e4567-e89b-12d3-a456-426614174000"
              mfa_login:
                value:
                  email: "user@example.com"
                  password: "SecurePassword123!"
                  tenant_id: "123e4567-e89b-12d3-a456-426614174000"
                  mfa_code: "123456"
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/logout:
    post:
      tags:
        - Authentication
      summary: User logout
      description: Invalidate the current session and tokens
      operationId: logout
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogoutResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh access token
      description: Exchange a refresh token for a new access token
      operationId: refreshToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshTokenResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /auth/me:
    get:
      tags:
        - Authentication
      summary: Get current user
      description: Returns information about the currently authenticated user
      operationId: getCurrentUser
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Tenant Management Endpoints
  /tenants:
    get:
      tags:
        - Tenant Management
      summary: List tenants
      description: Retrieve a list of tenants accessible to the current user
      operationId: listTenants
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Search'
        - name: status
          in: query
          description: Filter by tenant status
          schema:
            type: string
            enum: [active, inactive, suspended]
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            pattern: '^[a-zA-Z_]+:(asc|desc)$'
            default: 'name:asc'
      responses:
        '200':
          description: Tenants retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Tenant Management
      summary: Create tenant
      description: Create a new tenant
      operationId: createTenant
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTenantRequest'
      responses:
        '201':
          description: Tenant created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /tenants/{id}:
    get:
      tags:
        - Tenant Management
      summary: Get tenant
      description: Retrieve detailed information about a specific tenant
      operationId: getTenant
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantID'
      responses:
        '200':
          description: Tenant retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Tenant Management
      summary: Update tenant
      description: Update tenant information
      operationId: updateTenant
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTenantRequest'
      responses:
        '200':
          description: Tenant updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Tenant Management
      summary: Delete tenant
      description: Delete a tenant and all associated data
      operationId: deleteTenant
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/TenantID'
        - name: force
          in: query
          description: Force delete even if tenant has active resources
          schema:
            type: boolean
            default: false
      responses:
        '204':
          description: Tenant deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # User Management Endpoints
  /users:
    get:
      tags:
        - User Management
      summary: List users
      description: Retrieve a list of users for the current tenant
      operationId: listUsers
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Search'
        - name: role
          in: query
          description: Filter by user role
          schema:
            $ref: '#/components/schemas/UserRole'
        - name: is_active
          in: query
          description: Filter by active status
          schema:
            type: boolean
        - name: email_verified
          in: query
          description: Filter by email verification status
          schema:
            type: boolean
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            pattern: '^[a-zA-Z_]+:(asc|desc)$'
            default: 'email:asc'
      responses:
        '200':
          description: Users retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - User Management
      summary: Create user
      description: Create a new user in the current tenant
      operationId: createUser
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /users/{id}:
    get:
      tags:
        - User Management
      summary: Get user
      description: Retrieve detailed information about a specific user
      operationId: getUser
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: User retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - User Management
      summary: Update user
      description: Update user information
      operationId: updateUser
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - User Management
      summary: Delete user
      description: Delete a user account
      operationId: deleteUser
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # Document Management Endpoints
  /documents:
    get:
      tags:
        - Document Management
      summary: List documents
      description: Retrieve a list of documents for the current tenant
      operationId: listDocuments
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Search'
        - name: content_type
          in: query
          description: Filter by content type
          schema:
            type: string
        - name: status
          in: query
          description: Filter by processing status
          schema:
            type: string
            enum: [pending, processing, completed, failed]
        - name: created_after
          in: query
          description: Filter documents created after this date
          schema:
            type: string
            format: date-time
        - name: created_before
          in: query
          description: Filter documents created before this date
          schema:
            type: string
            format: date-time
        - name: sort
          in: query
          description: Sort field and direction
          schema:
            type: string
            pattern: '^[a-zA-Z_]+:(asc|desc)$'
            default: 'created_at:desc'
      responses:
        '200':
          description: Documents retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Document Management
      summary: Upload document
      description: Upload and process a new document
      operationId: uploadDocument
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadDocumentRequest'
      responses:
        '202':
          description: Document accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentProcessingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /documents/{id}:
    get:
      tags:
        - Document Management
      summary: Get document
      description: Retrieve detailed information about a specific document
      operationId: getDocument
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      responses:
        '200':
          description: Document retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Document Management
      summary: Update document
      description: Update document metadata
      operationId: updateDocument
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDocumentRequest'
      responses:
        '200':
          description: Document updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Document Management
      summary: Delete document
      description: Delete a document and all associated data
      operationId: deleteDocument
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/DocumentID'
      responses:
        '204':
          description: Document deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /documents/{id}/content:
    get:
      tags:
        - Document Management
      summary: Get document content
      description: Retrieve the actual content of a document
      operationId: getDocumentContent
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/DocumentID'
        - name: format
          in: query
          description: Desired content format
          schema:
            type: string
            enum: [original, text, json]
            default: original
      responses:
        '200':
          description: Document content retrieved successfully
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  # RAG (Retrieval-Augmented Generation) Endpoints
  /rag/query:
    post:
      tags:
        - RAG
      summary: RAG Query
      description: Submit a query to be answered using RAG (Retrieval-Augmented Generation)
      operationId: ragQuery
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RAGQueryRequest'
            examples:
              simple_query:
                value:
                  query: "What are the key features of our product?"
                  model: "gpt-4"
                  max_context_documents: 5
              advanced_query:
                value:
                  query: "Compare our Q3 performance against Q2"
                  model: "claude-3-sonnet"
                  context_options:
                    max_documents: 10
                    search_filters:
                      document_type: "financial_report"
                      date_range:
                        start: "2024-07-01"
                        end: "2024-09-30"
                  response_options:
                    temperature: 0.1
                    include_citations: true
                    max_tokens: 2000
      responses:
        '200':
          description: Query processed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RAGQueryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rag/ingest:
    post:
      tags:
        - RAG
      summary: Ingest document
      description: Process and ingest a document into the RAG system
      operationId: ingestDocument
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestDocumentRequest'
      responses:
        '202':
          description: Document accepted for ingestion
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /rag/search:
    get:
      tags:
        - RAG
      summary: Search documents
      description: Search for documents using semantic and keyword search
      operationId: searchDocuments
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: q
          in: query
          description: Search query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 1000
        - name: search_type
          in: query
          description: Type of search to perform
          schema:
            type: string
            enum: [semantic, keyword, hybrid]
            default: hybrid
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: filters
          in: query
          description: Search filters (JSON encoded)
          schema:
            type: string
            format: json
        - name: min_score
          in: query
          description: Minimum similarity score (0-1)
          schema:
            type: number
            minimum: 0
            maximum: 1
            default: 0.5
      responses:
        '200':
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  # Security Schemes
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT authentication token obtained from `/auth/login`.

        The token should be included in the Authorization header:
        ```
        Authorization: Bearer <your-jwt-token>
        ```

        Tokens expire after 15 minutes and can be refreshed using `/auth/refresh`.

    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key for service-to-service authentication.

        API keys can be managed through the `/api-keys` endpoints.

        Include the API key in the request header:
        ```
        X-API-Key: <your-api-key>
        ```

  # Parameters
  parameters:
    TenantID:
      name: id
      in: path
      description: Tenant ID (UUID)
      required: true
      schema:
        type: string
        format: uuid
      example: "123e4567-e89b-12d3-a456-426614174000"

    UserID:
      name: id
      in: path
      description: User ID (UUID)
      required: true
      schema:
        type: string
        format: uuid
      example: "123e4567-e89b-12d3-a456-426614174001"

    DocumentID:
      name: id
      in: path
      description: Document ID (UUID)
      required: true
      schema:
        type: string
        format: uuid
      example: "123e4567-e89b-12d3-a456-426614174002"

    Limit:
      name: limit
      in: query
      description: Maximum number of items to return
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 50
      example: 100

    Offset:
      name: offset
      in: query
      description: Number of items to skip (for pagination)
      schema:
        type: integer
        minimum: 0
        default: 0
      example: 50

    Search:
      name: search
      in: query
      description: Search term for filtering results
      schema:
        type: string
        minLength: 1
        maxLength: 500
      example: "john.doe@example.com"

  # Schemas
  schemas:
    # Base Schemas
    BaseResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the request was successful
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - success
        - meta

    ResponseMeta:
      type: object
      properties:
        request_id:
          type: string
          format: uuid
          description: Unique identifier for the request
        timestamp:
          type: string
          format: date-time
          description: Response timestamp
        version:
          type: string
          description: API version
        rate_limit:
          $ref: '#/components/schemas/RateLimitInfo'
      required:
        - request_id
        - timestamp
        - version

    RateLimitInfo:
      type: object
      properties:
        limit:
          type: integer
          description: Request limit for the current window
        remaining:
          type: integer
          description: Remaining requests in the current window
        reset:
          type: integer
          description: Unix timestamp when the rate limit window resets
        window:
          type: integer
          description: Length of the rate limit window in seconds
      required:
        - limit
        - remaining
        - reset
        - window

    Error:
      type: object
      properties:
        code:
          type: string
          description: Machine-readable error code
        message:
          type: string
          description: Human-readable error message
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
          description: Additional error details
      required:
        - code
        - message

    ErrorDetail:
      type: object
      properties:
        field:
          type: string
          description: Field that caused the error
        message:
          type: string
          description: Error message for the field
        value:
          description: The value that caused the error
      required:
        - message

    ErrorResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            error:
              $ref: '#/components/schemas/Error'
          required:
            - error

    # Health Schemas
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, unhealthy, alive]
          description: Health status of the service
        timestamp:
          type: string
          format: date-time
          description: Timestamp of the health check
        version:
          type: string
          description: Service version
        checks:
          type: object
          description: Detailed health checks (if available)
          additionalProperties:
            type: string
      required:
        - status
        - timestamp
        - version

    VersionResponse:
      type: object
      properties:
        version:
          type: string
          description: Semantic version
        commit:
          type: string
          description: Git commit hash
        build:
          type: string
          description: Build timestamp
        go_version:
          type: string
          description: Go runtime version
      required:
        - version

    # Authentication Schemas
    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: "user@example.com"
        password:
          type: string
          format: password
          description: User password
          minLength: 8
          example: "SecurePassword123!"
        tenant_id:
          type: string
          format: uuid
          description: Tenant ID (UUID)
          example: "123e4567-e89b-12d3-a456-426614174000"
        mfa_code:
          type: string
          description: MFA verification code (if enabled)
          pattern: '^[0-9]{6}$'
          example: "123456"
        remember_me:
          type: boolean
          description: Whether to remember this session
          default: false
      required:
        - email
        - password
        - tenant_id

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            access_token:
              type: string
              description: JWT access token
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            refresh_token:
              type: string
              description: JWT refresh token
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            expires_in:
              type: integer
              description: Token expiration in seconds
              example: 900
            token_type:
              type: string
              enum: [Bearer]
              example: "Bearer"
            scope:
              type: string
              description: Token scope
              example: "read write"
            user:
              $ref: '#/components/schemas/User'
            tenant:
              $ref: '#/components/schemas/Tenant'
            session_id:
              type: string
              format: uuid
              description: Session ID
              example: "123e4567-e89b-12d3-a456-426614174003"
          required:
            - access_token
            - refresh_token
            - expires_in
            - token_type
            - user
            - tenant
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - success
        - data
        - meta

    LogoutResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                message:
                  type: string
                  example: "Successfully logged out"
              required:
                - message

    RefreshTokenRequest:
      type: object
      properties:
        refresh_token:
          type: string
          description: Refresh token to exchange for new access token
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      required:
        - refresh_token

    RefreshTokenResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            access_token:
              type: string
              description: New JWT access token
              example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
            expires_in:
              type: integer
              description: New token expiration in seconds
              example: 900
            token_type:
              type: string
              enum: [Bearer]
              example: "Bearer"
          required:
            - access_token
            - expires_in
            - token_type
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - success
        - data
        - meta

    # User Schemas
    UserRole:
      type: string
      enum:
        - super_admin
        - tenant_admin
        - data_scientist
        - analyst
        - viewer
        - user
      description: User role in the system

    DataClassification:
      type: string
      enum:
        - public
        - internal
        - confidential
        - restricted
      description: Data classification level

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: User ID
          example: "123e4567-e89b-12d3-a456-426614174001"
        tenant_id:
          type: string
          format: uuid
          description: Tenant ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        email:
          type: string
          format: email
          description: User email address
          example: "user@example.com"
        role:
          $ref: '#/components/schemas/UserRole'
        permissions:
          type: object
          description: User permissions (JSON object)
          example: {"permissions": ["read_documents", "write_queries"]}
        metadata:
          type: object
          description: Additional user metadata
          example: {"department": "Engineering", "location": "US"}
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-10-29T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-10-29T10:30:00Z"
        last_login:
          type: string
          format: date-time
          description: Last login timestamp
          nullable: true
          example: "2025-10-29T09:15:00Z"
        is_active:
          type: boolean
          description: Whether the user account is active
          example: true
        mfa_enabled:
          type: boolean
          description: Whether MFA is enabled for this user
          example: false
        email_verified:
          type: boolean
          description: Whether the email address is verified
          example: true
        phone_number:
          type: string
          description: Phone number (if provided)
          example: "+1-555-123-4567"
        phone_verified:
          type: boolean
          description: Whether the phone number is verified
          example: false
        failed_login_attempts:
          type: integer
          description: Number of failed login attempts
          example: 0
        locked_until:
          type: string
          format: date-time
          description: Account lockout expiration (if locked)
          nullable: true
        profile:
          type: object
          description: User profile information
          example: {"first_name": "John", "last_name": "Doe", "avatar_url": "https://example.com/avatar.jpg"}
        preferences:
          type: object
          description: User preferences
          example: {"theme": "dark", "language": "en", "timezone": "UTC"}
      required:
        - id
        - tenant_id
        - email
        - role
        - created_at
        - updated_at
        - is_active
        - mfa_enabled
        - email_verified
        - phone_verified
        - failed_login_attempts

    CreateUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: User email address
          example: "newuser@example.com"
        password:
          type: string
          format: password
          description: User password (min 8 characters)
          minLength: 8
          example: "SecurePassword123!"
        role:
          $ref: '#/components/schemas/UserRole'
        permissions:
          type: object
          description: User permissions
          example: {"permissions": ["read_documents"]}
        metadata:
          type: object
          description: Additional user metadata
          example: {"department": "Engineering"}
        profile:
          type: object
          description: User profile information
          example: {"first_name": "Jane", "last_name": "Smith"}
        preferences:
          type: object
          description: User preferences
          example: {"theme": "light"}
        phone_number:
          type: string
          description: Phone number
          example: "+1-555-987-6543"
        send_invitation:
          type: boolean
          description: Whether to send an invitation email
          default: true
      required:
        - email
        - password
        - role

    UpdateUserRequest:
      type: object
      properties:
        email:
          type: string
          format: email
          description: Updated email address
          example: "updated@example.com"
        role:
          $ref: '#/components/schemas/UserRole'
        permissions:
          type: object
          description: Updated permissions
          example: {"permissions": ["read_documents", "write_queries"]}
        metadata:
          type: object
          description: Updated metadata
          example: {"department": "Product"}
        is_active:
          type: boolean
          description: Account status
          example: true
        mfa_enabled:
          type: boolean
          description: MFA status
          example: true
        profile:
          type: object
          description: Updated profile information
          example: {"first_name": "John", "last_name": "Doe Jr."}
        preferences:
          type: object
          description: Updated preferences
          example: {"theme": "dark"}
        phone_number:
          type: string
          description: Updated phone number
          example: "+1-555-555-5555"

    UserListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                users:
                  type: array
                  items:
                    $ref: '#/components/schemas/User'
                pagination:
                  $ref: '#/components/schemas/PaginationInfo'
              required:
                - users
                - pagination

    PaginationInfo:
      type: object
      properties:
        total:
          type: integer
          description: Total number of items
          example: 250
        limit:
          type: integer
          description: Items per page
          example: 50
        offset:
          type: integer
          description: Items skipped
          example: 100
        has_next:
          type: boolean
          description: Whether there are more items
          example: true
        has_prev:
          type: boolean
          description: Whether there are previous items
          example: true
        total_pages:
          type: integer
          description: Total number of pages
          example: 5
        current_page:
          type: integer
          description: Current page number (1-based)
          example: 3
      required:
        - total
        - limit
        - offset
        - has_next
        - has_prev
        - total_pages
        - current_page

    # Tenant Schemas
    Tenant:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Tenant ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          description: Tenant name
          example: "Acme Corporation"
        domain:
          type: string
          description: Tenant domain
          example: "acme.sdlc.ai"
        config:
          type: object
          description: Tenant configuration
          example: {"max_users": 100, "storage_quota": "1TB"}
        settings:
          type: object
          description: Tenant settings
          example: {"theme": "custom", "features": ["advanced_analytics"]}
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-10-29T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-10-29T10:30:00Z"
        status:
          type: string
          enum: [active, inactive, suspended]
          description: Tenant status
          example: "active"
        subscription:
          type: object
          description: Subscription information
          example: {"plan": "enterprise", "expires_at": "2026-10-29T10:30:00Z"}
        usage:
          type: object
          description: Current usage statistics
          example: {"users": 45, "documents": 1250, "storage_gb": 850}
      required:
        - id
        - name
        - domain
        - created_at
        - updated_at
        - status

    CreateTenantRequest:
      type: object
      properties:
        name:
          type: string
          description: Tenant name
          example: "New Company"
        domain:
          type: string
          description: Tenant domain
          example: "newcompany.sdlc.ai"
        config:
          type: object
          description: Initial tenant configuration
          example: {"max_users": 50}
        settings:
          type: object
          description: Initial tenant settings
          example: {"theme": "default"}
        subscription:
          type: object
          description: Initial subscription settings
          example: {"plan": "professional"}
        admin_user:
          type: object
          description: Admin user to create for the tenant
          properties:
            email:
              type: string
              format: email
              description: Admin email
              example: "admin@newcompany.com"
            password:
              type: string
              format: password
              description: Admin password
              example: "AdminPassword123!"
            first_name:
              type: string
              description: Admin first name
              example: "Admin"
            last_name:
              type: string
              description: Admin last name
              example: "User"
          required:
            - email
            - password
      required:
        - name
        - domain
        - admin_user

    UpdateTenantRequest:
      type: object
      properties:
        name:
          type: string
          description: Updated tenant name
          example: "Updated Company Name"
        config:
          type: object
          description: Updated configuration
          example: {"max_users": 200}
        settings:
          type: object
          description: Updated settings
          example: {"theme": "enterprise"}
        status:
          type: string
          enum: [active, inactive, suspended]
          description: Updated status
          example: "active"

    TenantListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                tenants:
                  type: array
                  items:
                    $ref: '#/components/schemas/Tenant'
                pagination:
                  $ref: '#/components/schemas/PaginationInfo'
              required:
                - tenants
                - pagination

    # Document Schemas
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Document ID
          example: "123e4567-e89b-12d3-a456-426614174002"
        tenant_id:
          type: string
          format: uuid
          description: Tenant ID
          example: "123e4567-e89b-12d3-a456-426614174000"
        filename:
          type: string
          description: Original filename
          example: "quarterly_report.pdf"
        content_type:
          type: string
          description: MIME content type
          example: "application/pdf"
        file_size:
          type: integer
          format: int64
          description: File size in bytes
          example: 1048576
        checksum:
          type: string
          description: File checksum (SHA-256)
          example: "a1b2c3d4e5f6..."
        storage_path:
          type: string
          description: Cloud storage path
          example: "tenants/123e4567-e89b-12d3-a456-426614174000/documents/123e4567-e89b-12d3-a456-426614174002.pdf"
        metadata:
          type: object
          description: Document metadata
          example: {"title": "Q3 2025 Report", "author": "Finance Team", "tags": ["quarterly", "finance"]}
        extraction_status:
          type: string
          enum: [pending, processing, completed, failed]
          description: Text extraction status
          example: "completed"
        created_at:
          type: string
          format: date-time
          description: Creation timestamp
          example: "2025-10-29T10:30:00Z"
        updated_at:
          type: string
          format: date-time
          description: Last update timestamp
          example: "2025-10-29T10:35:00Z"
        created_by:
          type: string
          format: uuid
          description: Creator user ID
          example: "123e4567-e89b-12d3-a456-426614174001"
        encryption_key_id:
          type: string
          description: Encryption key identifier
          example: "key_123456"
        retention_policy:
          type: object
          description: Retention policy configuration
          example: {"retention_days": 2555, "auto_delete": true}
        processing_info:
          type: object
          description: Processing information
          example: {"chunks_count": 25, "processing_time_ms": 1500, "dlp_scan_passed": true}
      required:
        - id
        - tenant_id
        - filename
        - content_type
        - file_size
        - checksum
        - storage_path
        - created_at
        - updated_at
        - created_by
        - extraction_status

    UploadDocumentRequest:
      type: object
      properties:
        file:
          type: string
          format: binary
          description: Document file to upload
        metadata:
          type: object
          description: Document metadata
          example: {"title": "Important Document", "description": "Quarterly financial report"}
        processing_options:
          type: object
          properties:
            enable_dlp:
              type: boolean
              description: Enable DLP scanning
              default: true
            chunking_strategy:
              type: string
              enum: [fixed_size, semantic, paragraph]
              description: Document chunking strategy
              default: "semantic"
            chunk_size:
              type: integer
              description: Chunk size (for fixed_size strategy)
              default: 1024
            chunk_overlap:
              type: integer
              description: Chunk overlap (for fixed_size strategy)
              default: 256
            auto_ingest:
              type: boolean
              description: Automatically ingest into RAG system
              default: true
          description: Processing options
        retention_policy:
          type: object
          properties:
            retention_days:
              type: integer
              description: Number of days to retain the document
              minimum: 1
            auto_delete:
              type: boolean
              description: Automatically delete after retention period
              default: false
          description: Retention policy
        classification:
          $ref: '#/components/schemas/DataClassification'
          description: Document classification level
      required:
        - file

    UpdateDocumentRequest:
      type: object
      properties:
        metadata:
          type: object
          description: Updated metadata
          example: {"title": "Updated Title", "tags": ["updated", "document"]}
        classification:
          $ref: '#/components/schemas/DataClassification'
          description: Updated classification level
        retention_policy:
          type: object
          properties:
            retention_days:
              type: integer
              description: Number of days to retain the document
            auto_delete:
              type: boolean
              description: Automatically delete after retention period
          description: Updated retention policy

    DocumentProcessingResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            document_id:
              type: string
              format: uuid
              description: Document ID
              example: "123e4567-e89b-12d3-a456-426614174002"
            processing_status:
              type: string
              enum: [pending, processing, completed, failed]
              description: Processing status
              example: "processing"
            estimated_completion_time:
              type: string
              format: date-time
              description: Estimated completion time
              example: "2025-10-29T10:45:00Z"
            processing_options:
              type: object
              description: Applied processing options
              example: {"enable_dlp": true, "chunking_strategy": "semantic"}
          required:
            - document_id
            - processing_status
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - success
        - data
        - meta

    DocumentListResponse:
      allOf:
        - $ref: '#/components/schemas/BaseResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                documents:
                  type: array
                  items:
                    $ref: '#/components/schemas/Document'
                pagination:
                  $ref: '#/components/schemas/PaginationInfo'
              required:
                - documents
                - pagination

    # RAG Schemas
    RAGQueryRequest:
      type: object
      properties:
        query:
          type: string
          description: User query or prompt
          minLength: 1
          maxLength: 10000
          example: "What were our key achievements in Q3 2025?"
        model:
          type: string
          description: LLM model to use
          example: "gpt-4"
        context_options:
          type: object
          properties:
            max_documents:
              type: integer
              minimum: 1
              maximum: 50
              description: Maximum number of documents to retrieve
              default: 5
            max_tokens:
              type: integer
              minimum: 100
              maximum: 8000
              description: Maximum context tokens
              default: 4000
            search_filters:
              type: object
              description: Document search filters
              example: {"document_type": "financial_report", "date_range": {"start": "2025-07-01", "end": "2025-09-30"}}
            similarity_threshold:
              type: number
              minimum: 0
              maximum: 1
              description: Minimum similarity score for document retrieval
              default: 0.7
          description: Context retrieval options
        response_options:
          type: object
          properties:
            temperature:
              type: number
              minimum: 0
              maximum: 2
              description: Response randomness (0 = deterministic, 2 = creative)
              default: 0.7
            max_tokens:
              type: integer
              minimum: 1
              maximum: 4000
              description: Maximum response tokens
              default: 1000
            include_citations:
              type: boolean
              description: Include source citations in response
              default: true
            response_format:
              type: string
              enum: [text, json, markdown]
              description: Response format
              default: "text"
          description: Response generation options
        session_id:
          type: string
          format: uuid
          description: Session ID for conversation context
          example: "123e4567-e89b-12d3-a456-426614174003"
      required:
        - query
        - model

    RAGQueryResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            response:
              type: string
              description: AI-generated response
              example: "Based on the Q3 2025 financial reports, the key achievements include..."
            citations:
              type: array
              items:
                $ref: '#/components/schemas/Citation'
              description: Source citations
            context_used:
              type: array
              items:
                $ref: '#/components/schemas/ContextDocument'
              description: Documents used as context
            token_usage:
              $ref: '#/components/schemas/TokenUsage'
            processing_time_ms:
              type: integer
              description: Total processing time in milliseconds
              example: 1250
            query_id:
              type: string
              format: uuid
              description: Unique query identifier
              example: "123e4567-e89b-12d3-a456-426614174004"
            model_used:
              type: string
              description: LLM model used for response
              example: "gpt-4"
            confidence_score:
              type: number
              minimum: 0
              maximum: 1
              description: Response confidence score
              example: 0.85
          required:
            - response
            - query_id
            - model_used
            - processing_time_ms
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - success
        - data
        - meta

    Citation:
      type: object
      properties:
        document_id:
          type: string
          format: uuid
          description: Document ID
          example: "123e4567-e89b-12d3-a456-426614174002"
        document_title:
          type: string
          description: Document title
          example: "Q3 2025 Financial Report"
        chunk_id:
          type: string
          format: uuid
          description: Document chunk ID
          example: "123e4567-e89b-12d3-a456-426614174005"
        text_snippet:
          type: string
          description: Relevant text snippet
          example: "Revenue increased by 25% compared to Q2 2025"
        page_number:
          type: integer
          description: Page number (if applicable)
          example: 15
        confidence_score:
          type: number
          minimum: 0
          maximum: 1
          description: Citation confidence score
          example: 0.92
      required:
        - document_id
        - document_title
        - chunk_id
        - text_snippet

    ContextDocument:
      type: object
      properties:
        document_id:
          type: string
          format: uuid
          description: Document ID
          example: "123e4567-e89b-12d3-a456-426614174002"
        document_title:
          type: string
          description: Document title
          example: "Q3 2025 Financial Report"
        content_snippet:
          type: string
          description: Content snippet used as context
          example: "The company achieved record revenue in Q3 2025..."
        relevance_score:
          type: number
          minimum: 0
          maximum: 1
          description: Relevance score for this document
          example: 0.88
        metadata:
          type: object
          description: Document metadata
          example: {"document_type": "financial_report", "date": "2025-10-15"}
      required:
        - document_id
        - document_title
        - content_snippet
        - relevance_score

    TokenUsage:
      type: object
      properties:
        input_tokens:
          type: integer
          description: Number of input tokens used
          example: 850
        output_tokens:
          type: integer
          description: Number of output tokens generated
          example: 350
        total_tokens:
          type: integer
          description: Total tokens used
          example: 1200
        cost_usd:
          type: number
          description: Cost in USD
          example: 0.024
        model_pricing:
          type: object
          description: Model pricing information
          example: {"input_token_cost": 0.00001, "output_token_cost": 0.00003}
      required:
        - input_tokens
        - output_tokens
        - total_tokens
        - cost_usd

    IngestDocumentRequest:
      type: object
      properties:
        document_id:
          type: string
          format: uuid
          description: Document ID to ingest
          example: "123e4567-e89b-12d3-a456-426614174002"
        ingestion_options:
          type: object
          properties:
            chunking_strategy:
              type: string
              enum: [fixed_size, semantic, paragraph]
              description: Chunking strategy
              default: "semantic"
            chunk_size:
              type: integer
              description: Chunk size (for fixed_size strategy)
              default: 1024
            chunk_overlap:
              type: integer
              description: Chunk overlap
              default: 256
            enable_embedding_generation:
              type: boolean
              description: Generate embeddings for chunks
              default: true
            embedding_model:
              type: string
              description: Embedding model to use
              default: "text-embedding-ada-002"
            enable_vector_indexing:
              type: boolean
              description: Add chunks to vector index
              default: true
          description: Ingestion options
        priority:
          type: string
          enum: [low, normal, high, urgent]
          description: Processing priority
          default: "normal"
      required:
        - document_id

    IngestionResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            ingestion_id:
              type: string
              format: uuid
              description: Unique ingestion process ID
              example: "123e4567-e89b-12d3-a456-426614174006"
            document_id:
              type: string
              format: uuid
              description: Document ID being ingested
              example: "123e4567-e89b-12d3-a456-426614174002"
            status:
              type: string
              enum: [pending, processing, completed, failed]
              description: Ingestion status
              example: "processing"
            estimated_completion_time:
              type: string
              format: date-time
              description: Estimated completion time
              example: "2025-10-29T11:00:00Z"
            processing_options:
              type: object
              description: Applied processing options
              example: {"chunking_strategy": "semantic", "enable_embedding_generation": true}
          required:
            - ingestion_id
            - document_id
            - status
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - success
        - data
        - meta

    SearchResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            query:
              type: string
              description: Original search query
              example: "financial report"
            search_type:
              type: string
              enum: [semantic, keyword, hybrid]
              description: Type of search performed
              example: "hybrid"
            results:
              type: array
              items:
                $ref: '#/components/schemas/SearchResult'
              description: Search results
            total_results:
              type: integer
              description: Total number of results found
              example: 25
            search_time_ms:
              type: integer
              description: Search execution time in milliseconds
              example: 150
            filters_applied:
              type: object
              description: Filters that were applied to the search
              example: {"document_type": "report"}
          required:
            - query
            - search_type
            - results
            - total_results
            - search_time_ms
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      required:
        - success
        - data
        - meta

    SearchResult:
      type: object
      properties:
        document_id:
          type: string
          format: uuid
          description: Document ID
          example: "123e4567-e89b-12d3-a456-426614174002"
        document_title:
          type: string
          description: Document title
          example: "Q3 2025 Financial Report"
        content_snippet:
          type: string
          description: Relevant content snippet
          example: "Revenue increased by 25% compared to the previous quarter..."
        score:
          type: number
          minimum: 0
          maximum: 1
          description: Relevance score
          example: 0.92
        metadata:
          type: object
          description: Document metadata
          example: {"document_type": "financial_report", "date": "2025-10-15", "author": "Finance Team"}
        chunk_info:
          type: object
          properties:
            chunk_id:
              type: string
              format: uuid
              description: Chunk ID
              example: "123e4567-e89b-12d3-a456-426614174005"
            chunk_index:
              type: integer
              description: Chunk index in document
              example: 3
          description: Chunk information (if result is from a specific chunk)
      required:
        - document_id
        - document_title
        - content_snippet
        - score

  # Responses
  responses:
    BadRequest:
      description: Bad request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            validation_error:
              value:
                success: false
                error:
                  code: "VALIDATION_ERROR"
                  message: "Invalid request parameters"
                  details:
                    - field: "email"
                      message: "Invalid email format"
                      value: "invalid-email"
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"

    Unauthorized:
      description: Unauthorized - Authentication required or invalid credentials
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalid_token:
              value:
                success: false
                error:
                  code: "INVALID_TOKEN"
                  message: "Invalid or expired authentication token"
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            permission_denied:
              value:
                success: false
                error:
                  code: "PERMISSION_DENIED"
                  message: "You don't have permission to perform this action"
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"

    NotFound:
      description: Not found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            resource_not_found:
              value:
                success: false
                error:
                  code: "NOT_FOUND"
                  message: "The requested resource was not found"
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"

    Conflict:
      description: Conflict - Resource already exists or conflicting state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            resource_exists:
              value:
                success: false
                error:
                  code: "RESOURCE_EXISTS"
                  message: "A resource with this identifier already exists"
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"

    RateLimited:
      description: Too Many Requests - Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            rate_limited:
              value:
                success: false
                error:
                  code: "RATE_LIMIT_EXCEEDED"
                  message: "Rate limit exceeded. Please try again later."
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"
                  rate_limit:
                    limit: 1000
                    remaining: 0
                    reset: 1640995200
                    window: 3600
      headers:
        X-RateLimit-Limit:
          description: Request limit for the current window
          schema:
            type: integer
        X-RateLimit-Remaining:
          description: Remaining requests in the current window
          schema:
            type: integer
        X-RateLimit-Reset:
          description: Unix timestamp when the rate limit window resets
          schema:
            type: integer
        Retry-After:
          description: Seconds until the client can retry the request
          schema:
            type: integer

    PayloadTooLarge:
      description: Payload Too Large - Request entity too large
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            file_too_large:
              value:
                success: false
                error:
                  code: "PAYLOAD_TOO_LARGE"
                  message: "The uploaded file exceeds the maximum allowed size"
                  details:
                    - field: "file"
                      message: "Maximum file size is 50MB"
                      value: "75MB"
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"

    InternalServerError:
      description: Internal Server Error - Unexpected server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            server_error:
              value:
                success: false
                error:
                  code: "INTERNAL_ERROR"
                  message: "An unexpected error occurred. Please try again later."
                meta:
                  request_id: "req_123456789"
                  timestamp: "2025-10-29T10:30:00Z"
                  version: "v1"

tags:
  - name: Health
    description: Health check and monitoring endpoints
    externalDocs:
      description: Health check best practices
      url: https://docs.sdlc.ai/health-checks

  - name: Authentication
    description: User authentication and session management
    externalDocs:
      description: Authentication guide
      url: https://docs.sdlc.ai/authentication

  - name: Tenant Management
    description: Multi-tenant management operations
    externalDocs:
      description: Tenant management guide
      url: https://docs.sdlc.ai/tenants

  - name: User Management
    description: User account management
    externalDocs:
      description: User management guide
      url: https://docs.sdlc.ai/users

  - name: Document Management
    description: Document upload, processing, and management
    externalDocs:
      description: Document management guide
      url: https://docs.sdlc.ai/documents

  - name: RAG
    description: Retrieval-Augmented Generation queries and operations
    externalDocs:
      description: RAG system guide
      url: https://docs.sdlc.ai/rag

externalDocs:
  description: SDLC.ai API Documentation
  url: https://docs.sdlc.ai
